@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: lightgrey;
  width: 100%;
  height: 100vh;
  font-family: "Single Day", cursive;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  align-items: center;
}

/* Components */
.btn {
  font-size: 1.4rem;
  background-color: #333;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  color: #aaa;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
  color: #bbb;
  scale: 1.1;
}

main {
  background-color: #aaa;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 2rem;
}

.start-menu {
  width: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.start-menu__h1 {
  font-size: 7.2rem;
  color: #333;
  cursor: pointer;
}

.start-menu__btn {
  font-size: 4.8rem;
  color: #333;
  cursor: pointer;
  position: relative;
}

.start-menu__btn::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: #333;
  position: absolute;
  bottom: 1px;
  left: 0;
  transition: all 0.3s;
}

.start-menu__btn:hover {
  color: #111;
  scale: 1.05;
  transform: translateY(-0.5rem);
}

.start-menu__btn:active::after {
  width: 100%;
}

/* game View */
.game-view {
  position: relative;
}
.player {
  margin: 0 30rem 3rem 30rem;
}
.cpu {
  margin: 3rem 30rem 0rem 30rem;
}
.overall {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.name,
.score {
  font-size: 4.8rem;
}
.current {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.current-label,
.current-score {
  font-size: 3.6rem;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
  fill: #333;
}

.game-view__menu {
  position: absolute;
  right: -16rem;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Instruction View */
.instruction-view {
  width: 96rem;
  color: #333;
  display: flex;
  flex-direction: column;
}
.instruction-view__h2 {
  font-size: 4.8rem;
  text-align: center;
}
.instruction-view__h3 {
  text-align: center;

  font-size: 3.6rem;
}
.instruction-view__p {
  font-size: 1.8rem;
}

.instruction-view__item {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.instruction-view__btn {
  margin: 3rem 0 0 0;
  align-self: flex-end;
}

.hidden {
  display: none;
}
